body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "DM Serif Display", serif;
}

button{
    border: 2px solid black;
    font-size: 1.5em;
    background-color: white;
    padding: 0.5em;
    cursor: pointer;
    font-family: "DM Serif Display", serif;
}

#cont{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    gap: 3px;
}

#cont > div {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont > div.wall {
    border: 12px solid black;
/*     background-color: black; */
    cursor: default;
}

#cont > div.selected {
    border: 1px solid white;
    background-color: lightseagreen;
    cursor: default;
}